.counter {
  margin: 10px;
  width: 200px;
  height: 200px;
  padding: 10px;
  font-family: Arial;
  font-size: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #000;
  border-radius: 10px;
}
.counter button {
  padding: 5px;
  font-size: inherit;
  width: 100%;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
}
.counter button:hover {
  transform: scale(1.05);
}
.counter p {
  padding: 15px;
  font-size: 32px;
}
